:root {
  --primary-text-color: #000000;
  --secondary-text-color: #090909;
  --secondary-contant-color: #828282;

  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

a {
  display: block;
  text-decoration: none;
}

button {
  display: block;
  padding: 0;
  margin: 0;
}

.container {
  padding-left: 28px;
  padding-right: 28px;
}

@media screen and (min-width: 375px) {
  .container {
    max-width: 375px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 947px) {
  .container {
    width: 947px;
  }
}

@media screen and (max-width: 946px) {
  .nav-list {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    position: absolute;
  }

  .dc-hero-img,
  .lng-list-dc {
    display: none;
  }
}

.nav-link {
  font-family: "Gilroy-Bold";
  font-size: 34px;
  line-height: 1.23;
  color: var(--secondary-contant-color);
}

/* ------------------Hero-mobil------------------ */

.hero-section {
  padding-top: 65px;
}
.container-hero {
  position: relative;
}

.wrap-hero {
  margin-bottom: 37px;
}

.title-hero {
  width: 123px;
  font-family: "Gilroy-Bold";
  font-size: 47px;
  line-height: 1.23;
  color: var(--primary-text-color);
}
.text-hero {
  width: 155px;

  margin-top: 23px;

  font-family: "Gilroy-Medium";
  font-size: 18px;
  line-height: 1.22;
  color: var(--secondary-text-color);
}
.icon-burger {
  width: 33px;
  height: 20px;
}
.img-adaptation {
  max-width: 100%;
  height: auto;
}

.btn-open-menu {
  position: absolute;
  top: 16px;
  right: 29px;
  border: none;
  background-color: inherit;
  width: 33px;
  height: 20px;
  cursor: pointer;
}

/* -------------SKILLS-MOBILE----------------- */

.section-skills {
  padding-top: 83px;
  padding-bottom: 99px;
}

.title-skills {
  text-align: center;
  font-family: "Gilroy-Bold";
  font-size: 34px;
  line-height: 1.23;
}
.text-skills {
  margin-top: 50px;

  font-family: "Gilroy-Medium";
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
}
.skills-list {
  display: inline-block;
  margin-top: 70px;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 81px;
}

.card-text-skills {
  margin-top: 24px;
  width: 70px;
  text-align: center;
}
.star-list {
  display: flex;
  gap: 9px;
  margin-top: 40px;
}
.skills-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.star-fill {
  fill: #e5e5e5;
}

/* -----------------PORTFOLIO---------------- */

.section-portfolio {
  padding-top: 81px;
  padding-bottom: 81px;
  background-color: #f6f6f6;
}

.title-portfolio {
  margin-bottom: 65px;
  text-align: center;
  font-family: "Gilroy-Bold";
  font-size: 34px;
  line-height: 1.23;
  color: #000000;
}

.portfolio-link {
  margin-top: 33px;
  font-family: "Gilroy-Medium";
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  text-decoration-line: underline;
  color: var(--primary-text-color);

  transition: 250ms linear;
}

.portfolio-link:hover,
.portfolio-link:focus {
  color: rgb(18, 18, 119);
}

.portfolio-item:not(:first-child) {
  margin-top: 77px;
}

/* ------------CONTACTS-------------------- */

.footer {
  padding-top: 82px;
  padding-bottom: 90px;
}

.title-footer {
  font-family: "Gilroy-Bold";
  font-size: 34px;
  line-height: 1.23;
  text-align: center;
  color: var(--primary-text-color);
}
.text-footer {
  max-width: 275px;
  margin-top: 27px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Gilroy-Medium";
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  color: var(--secondary-text-color);
}

.btn-footer {
  border: none;
  width: 100%;
  margin-top: 39px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 12px;
  padding-bottom: 12px;

  background-color: var(--primary-text-color);
  color: #fff;
  border-radius: 50px;
  cursor: pointer;

  transition: 250ms linear;
}

.btn-footer:hover,
.btn-footer:focus {
  background-color: var(--secondary-contant-color);
}
.contacts-list {
  margin-top: 48px;
  display: flex;
  justify-content: space-between;
}

.text-footer-like {
  margin-top: 48px;
  font-family: "Gilroy-Medium";
  font-size: 18px;
  line-height: 1.22;
  text-align: center;

  color: #828282;
}

/*---------------------------- MENU-MOBILE------------------------ */

.backdrop {
  overflow: scroll;
  position: fixed;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transition: all 250ms linear;
}

.container-menu {
  position: relative;
  max-width: 375px;
  height: 100%;
  margin: 0 auto;
  padding-bottom: 57px;
  padding-top: 66px;
  padding-left: 26px;
  padding-right: 26px;
  display: flex;
  justify-content: space-between;
}

.btn-close-menu {
  position: absolute;
  top: 66px;
  right: 28px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 22px;
  background-color: inherit;
  color: var(--secondary-text-color);
}

.close-icon {
  fill: currentColor;
}

.language-list {
  align-self: flex-end;
}

.menu-list .nav-item:not(:first-child) {
  margin-top: 68px;
}

.language-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: auto;
  transform: translatex(16px);
}

.language-item {
  transform: rotate(90deg);
}

.language-link {
  display: flex;
  flex-direction: row;
  width: 100%;
  font-family: "Gilroy-Bold";
  font-size: 34px;
  line-height: 1.31;

  color: #828282;
}

.decor::after {
  display: block;
  content: "";
  width: 30px;
  height: 3px;
  background-color: var(--primary-text-color);
  border-radius: 2px;
  transform: translatey(20px) rotate(90deg);
}

.current-lang {
  color: var(--secondary-text-color);
}

.is-hidden {
  transition: all 250ms linear;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* ------------ABOUT-MOBILE------------------- */

.section-about {
  background-color: #f6f6f6;
  padding-top: 81px;
  padding-bottom: 76px;
}

.title-about {
  font-family: "Gilroy-Bold";
  font-size: 34px;
  line-height: 1.23;
  text-align: center;
  margin-bottom: 30px;
  color: var(--primary-text-color);
}
.about-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-right: auto;
  margin-left: auto;
}

.about-text {
  font-family: "Gilroy-Medium";
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: var(--primary-text-color);
}

.current {
  color: var(--secondary-text-color);
}

/* ------------------HEADER-DESCTOP----------------- */

@media screen and (min-width: 947px) {
  .container {
    min-width: 947px;
  }
  .icon-burger,
  .mobile-hero-img {
    display: none;
  }

  .header-section {
    padding-top: 32px;
    padding-bottom: 32px;
    border-bottom: 1px solid #828282;
    transform: matrix(1, 0, 0, 1, 0, 0);
  }

  .nav-list {
    display: flex;
    justify-content: space-between;
  }

  .nav-link {
    font-family: "Gilroy-Bold";
    font-size: 18px;
    line-height: 1.22;
    color: var(--secondary-contant-color);
    transition: 250ms linear;
  }

  .nav-link:hover,
  .nav-link:focus {
    color: #090909;
  }

  .current {
    color: var(--secondary-text-color);
  }

  .current:hover,
  .current:focus {
    transform: scale(105%);
  }

  .lng-list-dc {
    display: flex;
    gap: 10px;
    transform: translateX(20px) rotate(-90deg);
    /* flex-direction: column;
     */
  }

  .lng-link-dc {
    display: flex;
    position: relative;
    font-family: "Gilroy-Bold";
    font-size: 16px;
    line-height: 1.25;
    color: var(--secondary-contant-color);
    text-transform: uppercase;

    transform: translatex(100%);
    transition: 250ms linear;
  }

  .lng-link-dc:focus,
  .lng-link-dc:hover {
    color: var(--secondary-text-color);
  }

  .wrap-hero {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 30px;
  }

  .title-hero {
    transform: translatey(10%);
  }

  .lng-item-dc {
    /* transform: rotate(-90deg); */
  }

  .current-lang-dc {
    color: var(--primary-text-color);
  }

  .decor-lng-dc::before {
    position: absolute;
    left: 100%;
    margin-left: 10px;
    content: "";
    display: block;
    width: 2px;
    height: 17px;
    background-color: var(--primary-text-color);
  }

  /* --------------about-dc--------------- */

  .about-text {
    width: 485px;
    margin: 0 auto;
    text-align: center;
  }

  /* SKILS-DC */

  .skills-list {
    flex-direction: row;
    justify-content: space-between;
    gap: 0px;
  }

  /* FOOTER-DC */

  .btn-footer {
    width: 167px;
  }

  .contacts-list {
    gap: 67px;
    justify-content: center;
  }
}
